flask >= 1.1.1
flask-Admin >= 1.5.4
flask-Sqlalchemy >= 2.4.1
Flask-Cors >= 3.0.8
Flask-CKEditor >= 0.4.3 
gunicorn >= 19.9.0
WTForms >= 2.2.1
Werkzeug >= 0.16.0
Jinja2 >= 2.10.3
Click >= 7.0
lorem >= 0.1.1 
unimport >= 0.2.0 

# For testing
pytest >= 5.2.1
coverage >= 4.5.4
codecov >= 2.0.16

# For building the documentation
sphinx >= 2.2.0

